@tailwind base;
@tailwind components;
@tailwind utilities;


.drawer-side a {
  background-color: transparent;
  color: #000;
}
li a.active {
    background-color :transparent !important;
    color: #ffffff !important;
}